*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.container-wrapper{
    position: relative;
    width: 100%;
    min-height: 61rem;
    background-color: rgb(180, 63, 34);
}

.title-container{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.container-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    position: relative;
    width: 100%;
}

.container-lampadas-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
}


.container-lampadas .img-acesa{
    display: none;
}

.container-buttons{
    margin-top: 2rem;
}

.container-buttons button{
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 1rem 5rem;
    color: black;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .4s ease;
}

.container-buttons button:hover{
    background-color: blue;
    color: #fff;
}